# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# IDE / editors
.idea/
.vscode/

# OS / misc
.DS_Store

# Git
.git/
.gitignore

# Local dev / secrets
*.env
.env
instance/
